td{font-size:9pt;line-height:18px}
em{font-style:normal;color:#c00}
a em{text-decoration:underline}
cite{font-style:normal;color:green}
.m,a.m{color:#666}

.quickdelete-wrap {
    position: relative;
}
/*header_left*/
#header{
    z-index: 301;
    width: 100%;
    height: 55px;
    min-width: 1000px;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    position: fixed;
}
.header_scroll{
    -webkit-box-shadow:0 0 5px 0px #888;
    -moz-box-shadow:0 0 5px 0px #888;
    box-shadow:0 0 5px 0px #888;
}
.left_nav{
    width: 100%;
    height: 55px;
    float: left;
    padding: 0 0 0 10px;
}
.header_logo{
    width: 101px;
    height: 32.8px;
    margin: 7px 0 0 0;
    text-decoration: underline;
    cursor: pointer;
    float: left;
}
.header_logo a{
    display: block;
}
.left_research{
    position: relative;
    float: left;
    height: 35px;
    margin: 11px 0 0 10px;

}
.re_content{
    width: 539px;
    height: 32px;
    display: block;
    float: left;
    border-width: 1px 0 1px 1px ;
    border-style: solid;
    border-color: #b8b8b8 transparent #ccc #b8b8b8;
}
.re_content:hover,
.re_content.ipthover{
    border-color: #999 transparent #b3b3b3 #999;
}
.re_char{
    width: 100px;
    height: 33px;
    float: left;
}
.re_char:hover{
    border-bottom: 1px solid #2868c8;
    box-shadow: 1px 1px 1px #ccc;
}
.s_btn{
    width: 100px;
    height: 34px;
    color: #fff;
    letter-spacing: 1px;
    background: #3385ff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #3385ff;
    outline: medium;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    text-align: center;
}
.s_btn:hover {
    background: #317ef3;
    border-bottom: 1px solid #2868c8;
    box-shadow: 1px 1px 1px #ccc;
}
.soutu-btn{
    width: 18px;
    height: 16px;
    float: right;
    display: block;
    right: 11px;
    margin-top: 8px;
    background: #fff url("../img/camera_new_5606e8f.png") no-repeat;
}
.soutu-btn:hover {
    background-position: 0 -20px;
    cursor:pointer ;
}
.soutu-layer{
    background-color: #fff;
    position: fixed;
    border: 1px solid #3385ff;
    width: 639px;
    height: 246px;
    left: 121px;
    z-index: 102;
    top:11px;
}
.re_content_soutu{
    width: 539px;
    height: 34px;
    display: block;
    float: left;
    border-width: 0px 0 1px 0px ;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}
.soutu_btn{
    display: block;
    position: relative;
    margin: auto;
    width: 18px;
    height: 16px;
    top: 9px;
    background:  url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_layer_dc17de8.png) no-repeat;
}
.soutu{
    font: 13px/18px 宋体;
    border: none;
    width: 395px;
    position: relative;
    outline:none;
    margin: 6px 0 0 7px;
    height: 22px;
}
.soutu-layer .soutu-url-error {
    position: absolute;
    right: 121px;
    margin-top: 5px;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/soutu_icons_sample_e128610.png) no-repeat center;
    display: none;
    width: 134px;
    padding-left: 36px;
    height: 26px;
    line-height: 26px;
    color: #e43;
    background-position: right -65px;
    font-size: 12px;
}
.soutu_state{
    padding: 37px 0 0 0;
    width: 639px;
}
.soutu-drop{
    text-align: center;
    height: 75px;
    width: 599px;
    padding-top: 25px;
    margin: auto;
    position: relative;
    top:21px;
    color: #999;
    background-color: #fafafa;
}
.soutu-drop-icon{
    margin: auto;
    width: 28px;
    height: 28px;
    display: block;
    position: relative;
    top:6px;
    background:url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/soutu_icons_sample_e128610.png) -70px -2px no-repeat;
}
.upload-wrap{
    position: relative;
    width: 158px;
    height: 43px;
    font-size: 16px;
    border: 1px solid #cacbcc;
    line-height: 43px;
    margin: 0 auto;
    color: #333;
    top:37px;
    text-align: center;
    display: block;
}
.upload-wrap:hover{
    border-color: #388bff;
    cursor: pointer;
}
.upload-wrap-icon{
    display: block;
    position: relative;
    width: 18px;
    height: 18px;
    float: left;
    top: 11px;
    left: 18px;
    margin-right: 8px;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/soutu_icons_sample_e128610.png) -144px 0 no-repeat;
}
.soutu-close{
    position: absolute;
    display: block;
    right: 18px;
    bottom: 13px;
    z-index: 2;
    width: 18px;
    height: 18px;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/soutu_icons_sample_e128610.png) -20px 0 no-repeat;
}
.soutu-close:hover{
    background-position: -197px -1px;
}
.s_btn_input{
    position: absolute;
    font-size: 0;
    width: 100%;
    height: 100%;
    outline: 0;
    opacity: 0;
    left: 0;
    cursor: pointer;
}
.re_ul{
    position: absolute;
    z-index: 1;
    width: 538px;
    background: #fff;
    height:auto;
    top:33px;
    border: 1px solid #ccc;
    display: none;
}
.re_ul li {
    width: 522px;
    color: #000;
    font: 14px arial;
    line-height: 22px;
    padding: 0 8px;
    position: relative;
    cursor: default;

}
.re_ul_strong span{
    color: #7A77C8;
}
.re_content_focus{
    border: none;
    width: 495px;
    position: relative;
    outline:none;
    margin: 6px 0 0 7px;
    height: 22px;
    font: 16px/18px arial;
}
/*header_right*/
.right_nav{
    margin: 21px 9px 5px 0;
    right: 0;
    top: 0;
    position: absolute;
    padding: 0;
    height: 14px;
}
.right_nav a{
    text-decoration: underline;
    color: #333;
    margin: 0 7px 0 7px;
    font-size: 12px;
    display: block;
    float: left;
}
.c-icon{
    display: block;
    width: 14px;
    height: 14px;
    float: right;
    background: url("../img/icons_5859e57.png") -408px -144px no-repeat;
}
.header_right_a_set{
    right: 39px;
    top: 43px;
    display: none;
    width: 70px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    position: fixed;
    -webkit-box-shadow: 1px 1px 5px #d1d1d1;
    z-index: 302;
}
.header_right_a_set em{
    width: 0px;
    height: 0px;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid  #d8d8d8;
    top: -6px;
    left: 50%;
    margin-left: -5px;

}
.header_right_a_set i{
    width: 0px;
    height: 0px;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid  #fff;
    top: -5px;
    left: 50%;
    margin-left: -5px;

}
.header_right_a_set a{
    line-height: 26px;
    font-size: 12px;
    padding: 0 9px 0 9px;
    color: #333;
    text-decoration: none;
    cursor: auto;
    display: block;
    margin: 0!important;
}
.header_right_a_set a:hover{
    line-height: 26px;
    background: #38f;
    color: white;
}


/*tab ????*/
#tab{
    background: #f8f8f8;
    line-height: 36px;
    height: 38px;
    padding: 55px 0 0 121px;
    float: none;
    font-size: 0;/*??????????м??????е??????*/
}
#tab b{
    border-bottom: 2px solid #38f;
    font-weight: 700;
    color: #323232;
    width: 54px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}
#tab a{
    width: 54px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #666;
    font-size: 14px;
}
#tab a:hover{
    color: #333;
}
/*浏览器由于放大缩小所造成的样式变化*/
.setWidth_1{
    width: 439px;
}
.setWidth_2{
    width: 540px;
}
.setWidth_3{
    width: 879px;
}
.setMargin_1{
    margin-top: -20px;
}
.setMargin_2{
    margin-top: 1px;
}
.setMargin_3{
    margin-top: 0.5px;
}
.setMargin_4{
    margin-top: 0.5px;
}
.setMargin_5{
    margin-top: 0.75px;
}
.setMargin_5{
    margin-top: 0.5px;
}
.set_right{
    right:-6px;
    top:0;
}
.set_right_1{
    right:-6px;
    top:1px;
}
.content_s{
    width: 1002px;
}

/*content-right_title 部分的css样式*/
.content_l {
    width: 1212px;

    display: inline-block;
}
.container_s {
    width: 1002px;
}
#content_right {
    margin-top: 45px;
    border-left: 1px solid #e1e1e1;
    float: right;
    height: auto;
    width: 384px;
}
.content_right_onResize {
    width: 259px;
}
.cr-offset{
    padding-left: 17px;
}
#con-ar {
    margin-bottom: 40px;
}
.result_hidden {
    position: absolute;
    top: -10000px;
    left: -10000px;
}
.cr_title{
    font-size: 14px;
    line-height: 1.29;
    font-weight: 700;
    color: #333;
    word-wrap: break-word;
}
.cr_title a{
    float: right;
    font-size: 13px;
    font-weight: 400;
    word-wrap: break-word;
}
.cr_title a span{
    text-decoration:underline;
}
.cr_title span{
    float: left;
}
.c-clearfix :after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.cr_content{
    width: 351px;
    margin-bottom: 13px;
    font-size: 13px;
    line-height: 1.54;
    color: #333;
    word-wrap: break-word;
    word-break: normal;
}
.cr-icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    font-style: normal;
    overflow: hidden;
    cursor: pointer;
    margin-left: 6px;
    background: url("../img/icons_5859e57.png") no-repeat -72px -168px;
}
.cr_icon_carry{
    background-position: -96px -168px;
}
/*content_right_conent样式*/
.opr-recommends-merge-p{
    height: 75px;
    position: relative;
    text-align: center;
    list-style: none;
    width: 75px;
}
.opr-recommends-merge-mask {
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    _background: 0 0;
    background: -webkit-radial-gradient(center,closest-side,rgba(255,255,255,0),rgba(0,0,0,.03));
}
.c-gap-top-small{
    margin-top: 5px;
    text-align: center;
}
.c_span4{
    float: left;
    _display: inline;
    margin-right: 17px;
    list-style: none;
    width: 75px;
}
.c_span4 a{
    color: #0000cc;
}
.opr-recommends-merge-d{
    min-height: 20px;
    color: #999;
}
.opr-recommends-merge-width-text {
    width: 70px;
    text-align: center;
    margin: 3px auto 0;
    font-size: 12px;
    line-height: 18px;
    word-break: break-all;
}
.c-span-last{
    margin-right: 0;
}
.c_gap_top {
    margin-top: 10px;
    display: inline-block;
}
.c_gap_div{
    display: inline-block;
    margin-top: 4px;
}
#c_gap_hidden .c-gap-top-small{
    margin-bottom: 10px;
}

#c_gap_hidden{
    display: none;
}
#c_gap_top_3 .c-gap-top-small{
    margin-top: 30px;

}
.c-gray {
    color: #666;
    text-decoration: none;
}
.c-gray:hover{
    text-decoration: underline;
}
/*content_left_top*/
.searchTool-spanner{
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    font-style: normal;
    overflow: hidden;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat -864px -144px;;
}
.head_nums_cont_inner {
    position: relative;
}
.head_nums_cont_outer {
    height: 40px;
    overflow: hidden;
    position: relative;
}
.search_tool_conter{
    font-size: 12px;
    color: #666;
    margin: 0 0 0 121px;
    height: 42px;
    width: 538px;
    line-height: 42px;
}
.search_tool_conter span {
    cursor: pointer;
    color: #666;
}
.search_tool, .search_tool_close {
    float: right;
}
.search_tool, .search_tool_conter span {
    cursor: pointer;
}
.search_tool_conter .c-gap-left {
    margin-left: 23px;
}
.c-icon-triangle-down {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    font-style: normal;
    overflow: hidden;
    opacity: .6;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat -408px -144px;
}
.search_tool_close {
    float: right;
}
.c-icon-chevron-top-gray-s {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    font-style: normal;
    overflow: hidden;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat  -912px -144px;
}
.search_tool_conter .c-gap-left {
    margin-left: 20px;
}
.nums {
    width: 538px;
    font-size: 12px;
    color: #999;
    margin: 0 0 0 121px;
    height: 42px;
    line-height: 42px;
}
.search_tool{
    color: #666;
}
.search_tool:hover{
    color: #333;
}

/*content-left*/
#content_left {
    width: 540px;
    padding-left: 121px;
    padding-top: 5px;
}
.c-container{
    position: relative;

    width: 538px;
    font-size: 13px;
    line-height: 1.54;
    word-wrap: break-word;
}
.result {
    table-layout: fixed;
}
#content_left .result {
    margin-bottom: 14px;
    border-collapse: collapse;
}
/*ejs所需*/
.t {
    font-weight: 400;
    margin-bottom: 1px;
    line-height: 1.54;
}
.t5 {
    font-weight: 400;
    line-height: 1.54;
    margin-bottom:  5px;
}
#content_left h3{
    font-weight: 400;
    font-size: medium;
}
#content_left h3 a{
    color: #0000cc;
}.f13 {
     font-size: 13px;
 }
.m, a.m {
    color: #666;
}
p, form, ol, ul, li, dl, dt, dd, h3 {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.c-img6{
    float: left;
    _display: inline;
    margin-right: 17px;
    list-style: none;
    width: 121px;
}
.c-row {
    float: right;
}
.c-icon-star-gray{
    position: relative;
    display: inline-block;
    height: 14px;
    vertical-align: text-bottom;
    font-style: normal;
    overflow: hidden;
    width: 60px;
    background:url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat -312px -144px;
}
.c-icon-star{
    display: inline-block;
    height: 14px;
    vertical-align: text-bottom;
    font-style: normal;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat  -240px -168px;
}
.container_wenku{
    position: relative;
}
.c-showurl{
    color: green;
    font-size: 13px;
    text-decoration: none;
}
.ca-icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    font-style: normal;
    overflow: hidden;
}
.c-tools {
    display: inline;
}
.c-icon-triangle-down-g{
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat -744px -144px;
}
.c-icon-v{
    width: 19px;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat 0 -192px;
}
.c-icon-v2{
    width: 19px;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat -912px -192px;;
}
.c-gap-top-small-self {
    margin-top: 5px;
}
.c-gap-right-small {
    margin-right: 10px;
    color: #0000cc;
}
.c-gap-top-small-left{
    left: -2px;
}
.c_icon_magin{
    margin-left:0px ;
    margin-right:1px ;
    display: inline-block;
    font-size: 0px;


}
.c_icon_top{
    position: relative;
    top: 2px;
}
.op_LAMP {
    background: url(//www.baidu.com/cache/global/img/aladdinIcon-1.0.gif) no-repeat 0 2px;
    color: white;
    width: 16px;
    z-index: 33;
    text-decoration: none;
}
.c-offset{
    padding-left: 10px;
    display: inline-block;
    width: 528px;
}
.ca-row a{
    color: #0000cc;

}
.c-icon-v3{
    background-position: -936px -192px;
}
.c-icon-doc{
    width: 16px;
    height: 16px;
    background:url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat -288px -192px;
}

/*rs*/
#rs {
    padding: 0;
    margin: 25px 0 0 121px;
    width: 600px;
}
#rs .tt {
    font-weight: 700;
    padding: 0 10px 6px 0px;
}
#rs .th {
    width: 540px;
}


#rs a {
    display: block;
    width: 170px;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    line-height: 22px;
    white-space: nowrap;
    vertical-align: top;
    float: left;
    margin-left: 2px;
    position: relative;
    margin-top: 2px;

    /* font-size: 14px;
     font-weight: 400;
     line-height: 22px;
     white-space: nowrap;
     text-align: left;
     vertical-align: top;*/
}
#rs .th a{
    color: #0000cc;

}
#rs .th_1{
    width: 180px;

}
#rs .th_2{
    width: 178px;

}
/*foot*/

#page {
    font: 14px arial;
    white-space: nowrap;
    padding: 0 0 0 121px;
    margin: 33px 0  38px 0;
}

#page a, #page strong {
    display: inline-block;
    vertical-align: text-bottom;
    height: 66px;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
    overflow: hidden;
    margin-right: 9px;
    background: #fff;
}


#page .fk {
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
    margin-left: 6px;
    cursor: pointer;
}

#page strong .pc {
    border: 0;
    width: 36px;
    height: 36px;

    line-height: 36px;
    display: block;
}

.c-icon-bear-p{
    top: -2px;
    width: 24px;
    height: 24px;

    position: relative;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat -96px -288px;;
}
.pc {
    width: 34px;
    height: 34px;
    display: block;
    border: 1px solid #e1e2e3;
    cursor: pointer;

    margin-top: -1px;
}
#page strong .pc {
    border: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
}
#page .pc {
    width: 34px;
    height: 34px;
    border: 1px solid #e1e2e3;
    cursor: pointer;
}
#page span {
    display: block;
}
.c-icon-bear-pn{
    width: 24px;
    height: 24px;
    top: 3px;
    position: relative;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat -144px -288px;
}
#page .fk .c-icon-bear-pn {
    top: -3px;
    position: relative;
}
#page .fkd .c-icon-bear-pn {
    top: 3px;
    position: relative;
}

#page .n {
    height: 34px;
    padding: 0 18px  0 18px;
    border: 1px solid #e1e2e3;
    position: relative;
    top: -1px;
}
#foot {
    background: #f5f6f5;
    border-top: 1px solid #ebebeb;
    text-align: left;
    height: 42px;
    line-height: 42px;
    margin-top: 0px;
}
#help a {
    color: #777;
    padding: 0 15px 0 15px;
    text-decoration: none;
    font-size: 12px;
}
#help a:hover{
    color: #333;
}
#page a:hover .pc {
    background: #f2f8ff;
    border: 1px solid #38f;
}
#page .n:hover{
    background: #f2f8ff;
    border: 1px solid #38f;
}
#dom{
    margin-top: 10px;
    display: inline-block;
}
#dom_2{
    display: inline-block;
}
.opr-recommends-merge-mask{
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    _background: 0 0;
    background: -webkit-radial-gradient(center,closest-side,rgba(255,255,255,0),rgba(0,0,0,.03));
}
.c_span4 {
margin-bottom: 10px;
}
.c_gap_top_4 .c_span4 {
    margin-top: 10px;
}
.c_gap_top_4 .opr-recommends-merge-p{
    height: 100px;
}
#dom .c_gap_top_2 .c_span4{
    display: none;
}
#dom .c_gap_top_3 .c_span4{
    display: none;
}




















